* {
    box-sizing: border-box;
    letter-spacing: 0.05rem;
    outline: 0 none;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    padding: 30px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.2rem;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background: #fff;
    margin: 0 5px 5px 0;
    padding: 1rem 1.2rem;
}

